.containerRecurso {
    position: relative;
    top: 5px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.boxRecurso {

    background: #1782a1;
    border-radius: 5px;
    padding: 10px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(143, 143, 143);
    transition-duration: 0.5s;
}

.boxRecurso:hover {
    background: #1764aa;
}
.enlaceRecurso{
    background: white;
    color: black;
    padding: 0px 5px ;
    border-radius: 5px;
}